@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Menú a la izquierda (aside) */
.menu {
  /*flex: 1;*/
  background-color: #ffffff;
  width: 25%;

}
.name-descripcion{
    display: flex;
    flex-direction: column;
}

.menu h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #1b1f21;
}

.menu ul {
  list-style: none;
}

.menu li {
  display: flex;
  align-items: center;
  padding: 20px;
}

.name {
  color: #1b1f21;
  font-size: 19px;
}
.description {
  color: #828485;
  font-size: 14px;
}
.description-two{
    font-size: 16px;
}
.foto-maria{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;

}
.foto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.icon-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 160px;
  color: #828485;
  gap: 20px;
}

.icon {
  font-size: 25px;
}

.menu span {
  font-size: 18px;
  color: white;
}
li {
  display: flex;
}

/* Estilos del botón */
.custom-button {
  background-color: #a491d2;
  color: #ffffff;
  border: none;
  padding: 20px 60px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 15px auto;
}

/* Efecto hover para el botón */
.custom-button:hover {
  background-color: #8a6fc6;
}

.button-chat {
    flex-direction: column;
}

/* Contenido a la derecha */
.contenido {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}

header {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.logo {
  width: 40%;
  height: auto;
}

.info-texto {
  text-align: center;
}

.info-texto h1 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 300;
  
}

.info-texto p {
  font-size: 18px;
  color: #333;
  max-width: 600px;
}

